/*----------LAYOUTS------------------*/

body{
    background: #ffff;
}

#container {
    width: 100%;
    color: #fff;
    width: 100%;
    min-width: 1400px;
}

#historia {
    width: 100%;
    margin: 0 auto;
    color: #3E194D;
    font-family: "Montserrat";
    height: 814px;
    text-align: center;
}

#historia h1 {
    font-size: 48px;
    padding-top: 50px;
}

#hist p {
    color: #848484;
    font-size: 17px;
    font-family: 'Segoe UI';
    position: relative;
    padding-inline: 350px;
}
#historia p {
    font-family: 'Segoe UI';
    font-size: 17px;
    color: #848484;
}


#missao i {
    padding-top: 200px;
    margin-right: 25px;
    margin-left: 325px;
    float: left;
    font-size: 48px;
    color: #A7FBD3
}

#visao i {
    padding-top: 200px;
    float: left;
    margin-right: 25px;
    font-size: 48px;
    color: #A7FBD3
}

#valores i {
    padding-top: 200px;
    float: left;
    font-size: 48px;
    color: #A7FBD3
}

#missao h3 {
    position: relative;
    right: 85px;
    padding-top: 250px;
    float: left;
}

#visao h3 {
    position: relative;
    right: 85px;
    padding-top: 250px;
    float: left;
}

#valores h3 {
    position: relative;
    right: 75px;
    padding-top: 250px;
    float:left;
}

#missao p {
    position: relative;
    right: 250px;
    padding-top: 300px;
    float: left;
    width: 250px;
    height: 20px;
    font-size: 17px;
}

#visao p {
    position: relative;
    right: 225px;
    padding-top: 300px;
    float: left;
    width: 250px;
    height: 20px;
    font-size: 17px;
}
#valores p {
    position: relative;
    top: -10px;
    right: 100px;
    float: left;
    width: 250px;
    height: 20px;
    font-size: 17px;
}
#frase img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
    filter: brightness(0.4)
}
#texto-frase h1{
    color: #fff;
    text-align: center;
    font-family: 'Montserrat';
    z-index: 200;
    position: relative;
    top: 290px;
}

#texto-frase p {
    font-family: "Segoe UI";
    text-align: center;
    z-index: 200;
    position: relative;
    top: 300px;
}

#yoda img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    filter: brightness(1);
    position: relative;
    right: -700px;
    top: 350px;
    z-index: 210;
    box-shadow:5px 5px 5px black;
}

#mej {
    width: 100%;
    height: 500px;
    background: #eeeded;
    position: relative;
    top: -30px;
}
#mej h1 {
    color:#3E194D ;
    font-family:"Montserrat" ;
    width: 20px;
    padding-top: 100px;
    margin-left: 400px;
}
#mej p {
    color: #848484;
    font-size: 17px;
    width: 350px;
    margin-left: 400px;
}

#mej img {
    margin-left: 800px;
    position:relative ;
    bottom: 25s0px;
}

#mej button{
    width: 175px;
    height: 50px;
    background:#3E194D ;
    border: none;
    color:#A7FBD3 ;
    border-radius: 5px;
    font-family:"Segoe UI";
    font-size: 15px;
    margin-left: 400px ;
}
#botao{
    position: relative;
    top: -300px;
}
